.SectionTwo_bloc{
    width: 1110px;
    margin: 70px  auto 0px auto ;
    padding: 5px;
}

.SectionTwo_sort{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SectionTwo_sort span{
    font-size: 40px;
    font-family: "Raleway";
    color: #2C2D35;
}

.sort{
    display: flex;
    gap: 32px;
}

.sotrbutton{
    width: 126px;
    height: 43px;
    border-radius: 50px;
    background-color: #D4E8D9;
}

.sotrbutton:hover{
    color: white;
    background-color: #376B44;
    transition: 0.5s ease; 
    cursor: pointer;
}

.sotrbutton:active{
    color: rgb(0, 0, 0);
    background-color: #D4E8D9;
    cursor: pointer;
    border: 2px solid #376B44 ;
    transition: 0.3s ease;
}

.SectionTwo_bocks{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    width: 100%;
    height: 100%;
    gap: 30px;
    margin-top: 30px;
   
    
}

.more{
    width: 100%;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid rgba(89, 141, 102, 1);
    color: rgb(244, 250, 245);
    background-color: rgba(89, 141, 102, 1);
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    font-family: "Raleway";
    cursor: pointer;
    
}

.active{
    color: white;
    background-color: #385e41d5;
    transition: 2s ease-in; 
    cursor: pointer;
}

.more:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(55, 107, 68, 1);
    cursor: pointer;
    transition: 0.5s ease;
}

.more:active{
    color: rgb(255, 255, 255);
    background-color: rgb(137, 185, 149);
    cursor: pointer;
    transition: 0.5s ease;
}


.no-books-message{
    width: 1100px;
    height: 1000px;
    background-color: #c7c7ca56;
    box-shadow: 0px 0px 10px 15px #c7c7ca56;
}

.no-books-message p{
    font-size: 30px;
    text-align: center;
    margin-top: 50%;
    color: #6767689a;
}


@media (max-width: 1150px) {

    .SectionTwo_bocks{
        grid-template-columns: 350px 350px;
        justify-content: center;
    }
    
    .SectionTwo_bloc{
        width: 750px;
        margin: 70px  auto 0px auto ;
    }
}


@media (max-width: 850px) {

    .SectionTwo_bocks{
        grid-template-columns: 350px;
        justify-content: center;
    }
    
    .SectionTwo_bloc{
        width: 750px;
        margin: 70px  auto 0px auto ;
    }
}

