* {
	padding: 0px;
	margin: 0px;
	border: none;	
}

@media (max-width: 900px) {
	html {
  		overflow-x: hidden;
	}
}

@media (max-width: 768px) {
    body {
        overflow: hidden; 
        height: 100vh;    
        position: fixed;  
        width: 100%;
    }
}
